<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="static/styleresultado.css">

<title>Resultado Completo</title>

</head>

<body>

<div class="container">

<h1>Analise Completa do Físico</h1>

<div class="block">
<p>Percentual de Gordura corporal</p>
<div class="big" id="bf"></div>
</div>

<div class="block">
<p>Shape Score</p>
<div class="big" id="score"></div>
</div>

<div class="block">
<p>"Physique Type"</p>
<div id="type"></div>
</div>

<div class="block">
<p>Alvo percentual de gordura</p>
<div id="target"></div>
</div>

<div class="block">
<p>Tempo estimado</p>
<div id="time"></div>
</div>

</div>

<script src="static/appresultado.js"></script>

</body>

</html>